@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --color-principal: #ffffff;
    --color-secundario: #C0C0C0;
    --color-button: #167BF7;
    --color-background: #00030C;

    --font-principal: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    color: var(--color-principal);
    font-family: var(--font-principal);
}

/* CONFIGURAÇÕES PRIMEIRA SECTION */
.principal {
    background: url(../images/Background.png) no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 1.37em;
}

.container__image {
    margin-bottom: 3.37em;
}

.container__first__link {
    display: block;
    background-color: var(--color-button);
    color: var(--color-principal);
    padding: 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 0.5em;
    font-size: 1rem;
    margin-bottom: 1em;
}

.container__second__link {
    display: block;
    background-color: transparent;
    color: var(--color-principal);
    padding: 1em;
    text-align: center;
    text-decoration: none;
    border: 0.10em solid var(--color-principal);
    border-radius: 0.5em;
    font-size: 1rem;
}

.container__paragrafo {
    font-size: 0.75rem;
    color: var(--color-secundario);
    margin-top: 0.62em;
}

/* CONFIGURAÇÕES SEGUNDA SECTION */
.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario__image {
    width: 80%;
}

.descricao__titulo {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.descricao__paragrafo {
    color: var(--color-secundario);
    margin-right: 4.37em;
}

/* CONFIGURAÇÕES TERCEIRA SECTION */
.descriacao__links {
    display: block;
    background-color: var(--color-button);
    color: var(--color-principal);
    padding: 1em;
    margin-top: 1em;
    width: 11em;

    text-align: center;
    text-decoration: none;
    border-radius: 0.5em;
    font-size: 1rem;
}

/* CONFIGURAÇÕES QUINTA SECTION */
.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3rem;
    color: var(--color-principal);
}

.dispositivos__lista {
    display: flex;
    justify-content: center;

    list-style-type: none;
    margin: 5em 0;
}

.dispositivos__nomes {
    font-size: 2rem;
    color: var(--color-principal);
}

/* CONFIGURAÇÕES FOOTER */
.container-footer {
    text-align: center;
}

.container-footer__logo {
    margin: 2em 0;
}

.container-footer__lista {
    margin: 1.5em 9.8em;

}

.container-footer__links {
    margin-left: 1em;

    color: var(--color-principal);
    text-decoration: none;
}

.container-footer__links:hover {
    text-decoration: underline;
}

.container-footer__texto {
    color: var(--color-secundario);
    margin: 1.5em 9.8em;
    font-size: 0.87rem;
}

.container-footer__margin__final {
    margin-bottom: 6em;
}

.container-footer__desenvolvedor {
    background-color: var(--color-button);
    padding: 1em;
}

.desenvolvedor__link {
    text-decoration: none;
    color: var(--color-principal);
    font-weight: 700;
}

.desenvolvedor__link:hover {
    text-decoration: underline;
}